#test
{
    background-color: rgb(28, 84, 158);
}

#test2
{
    color:gold;
}

#test3
{
    color : white;
}
#test4
{
    color : white;
}
#corps
{
    background-color:rgb(255, 240, 152);
    padding-top: 75px;

}
#logo
{
    max-height: 50px;
    
}
#trophaut
{
    margin-top: 75px;
    text-align: center;
}
h1
{
    margin-bottom : 50px;
    text-align: center;
}
#choix
{
    margin-top: 50px;
    background-color: rgb(28, 84, 158);
    color: white;
}
#chapitre
{
    border: solid rgb(28, 84, 158) ;
}
#bleu
{
    color: rgb(28, 84, 158);
}
#psthist
{
    margin-top: 10px;
    margin-left: 40px;
}
button
{
    /*min-width: 100px;
    min-height: 50px;*/
    font-size: 60%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(28, 84, 158);
    border-color: rgb(28, 84, 158);
    color :rgb(255, 240, 152);
}
button:hover, .btn_hover:hover/*marche pas...*/
{
    background-color: gold;
}
.btn_hover:active, button:active /*marche pas...*/
{
    background-color: green;
}
fieldset
{
    margin : auto;
    max-width: fit-content;
    margin-top : 50px;
    margin-bottom: 50px;
    border : solid black 1px;
    text-align: center;
}
/*A revoir*/
/*
.bouton
{
    text-decoration: none;
    color:white;
    background-color: rgb(28, 84, 158);
    border-radius:10px;
    padding:5px;
}

.bouton:hover
{
    text-decoration: none;
    color:white;
    background-color: rgb(28, 84, 158);
    border-radius:10px;
}

.bouton:visited
{
    text-decoration: none;
    color:white;
    background-color: rgb(28, 84, 158);
    border-radius:10px;
}

.titre
{
    font-size: 16px;
    
}
*/

