.bouton, .bouton:visited
{
    text-decoration: none;
    color:white;
    background-color: rgb(28, 84, 158);
    border-radius:10px;
    padding:5px;

}

.bouton:hover
{
    text-decoration: none;
    color:white;
    background-color: rgb(28, 84, 158);
    border-radius:10px;
}


a:hover
{
    text-decoration: none;
    color:black;
    
    
}
a:visited, a
{
    text-decoration: none;
    color:black;
    font-size:20px;
}


em
{
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}
.btn_admin
{
    text-decoration: none;
    background-color: rgb(98, 149, 215);
    border-radius:10px;
    padding:10px;
    margin: 10px
} 
.btn_admin:hover
{
    background-color: rgb(146, 86, 210);
}

.logo
{
    max-height:30px ;
}

.droite
{
    text-align: right;
}

.paragraphe
{
    margin-left: 3%;
}

.bloc_hist
{
    border-bottom: solid black 1px;
}

.titre
{
    font-size: 20px;
}