#test
{
    background-color: rgb(28, 84, 158);
}

#test2
{
    color:gold;
}
body
{
    background-image: url(includes//Sans\ titre.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#corps
{
    margin-top: 75px;
    padding-top: 75px;
    min-height: 95vh;
    width: 80vw;
    margin: auto;
    border-radius: 5%;
    box-shadow : 5px 5px 10px rgb(28, 84, 158), -5px -5px 10px rgb(28, 84, 158);
}
#logo
{
    max-height: 8vh;
    
}
h1
{
    margin-bottom : 50px;
    text-align: center;
}
.separation
{
    margin-top: 50px;
    padding-top: 10px;
    background-color: rgb(28, 84, 158);
    color: white;
    text-align:left;

}
.box
{
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip:padding-box;
}
#form
{
    margin: auto;
}
.choice
{
    text-align: left;
}
#chapitre
{
    box-shadow : 5px 5px 10px rgb(252, 224, 67), -5px -5px 10px rgb(252, 224, 67);
}
#bleu
{
    color: rgb(28, 84, 158);
}
#psthist
{
    margin-top: 10px;
    margin-left: 40px;
}
button
{
    /*min-width: 100px;
    min-height: 50px;*/
    font-size: 60%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(28, 84, 158);
    border-color: rgb(255, 240, 152);
    color :rgb(255, 240, 152);
    min-width: 44px;
    min-height: 44px;
}
button:hover, .btn_hover:hover
{
    background-color: gold;
    color: black;
}
.btn_hover:active, button:active
{
    background-color: green;
}
fieldset
{
    margin : auto;
    max-width: fit-content;
    margin-top : 50px;
    margin-bottom: 50px;
    border : solid black 1px;
    text-align: center;
}
.nav-item a:hover, .navbar-brand:hover
{
    color: rgb(28, 84, 158) !important;
    background-color: rgb(255, 230, 86);
    border : solid rgb(28, 84, 158);
}
.nav-item a
{
    color: white !important;
    background-color: rgb(28, 84, 158);
    border-radius: 10%;
    border : solid rgb(28, 84, 158);
}
a .btn-secondary
{
    color : white !important;
}
.btn-primary
{
    size : 200px;
}

.bouton
{
    color:white;
    background-color: rgb(28, 84, 158);
    border-radius:10px;
    padding:5px;

}

em
{
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
}
.btn_admin, .btn_admin:visited
{
    text-decoration: none;
    background-color: rgb(98, 149, 215);
    color:black;
    border-radius:10px;
    padding:10px;
    margin: 10px;
    font-size:20px;
} 
.btn_admin:hover, .bouton:hover
{
    background-color: rgb(226, 147, 247);
    text-decoration: none;
    color:black;
}

.logo
{
    max-height:30px ;
}

.paragraphe
{
    margin-left: 3%;
}

.bloc_hist
{
    border-bottom: solid black 1px;
}
input:focus, textarea:focus 
{
    border: dotted black;
}
.espacer
{
    margin: 30px;
}


